body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000;
}

header {
	margin: 0 10px;
	border-bottom: 2px solid #994499;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 85%;
	max-width: 960px;
	display: flex;
}

.container figure {
	float: right;
}

a , .projlink{
	text-decoration: none;
	color: #550055;
}

a:hover , .projlink:hover{
	color: #994499;
}

header a{
	color: #ffeeff;
}

p {
	margin-left: 5px;
}

article, aside {
	margin: 10px 5px;
	padding: 10px;
}

article{
	flex: 73%;
}

aside{
	flex: 27%;
	border-right: 2px solid #994499;
}

footer {
	margin: 0 10px;
	border-top: 2px solid #994499;
}

.preview{
	margin: 5px 0px;
	border: 5px solid #fff;
	border-radius: 5px;
	padding: 0 10px;
	background-color: #fff;
}

.projheader{
	margin-top: 10px;
	width: 100%;
	height: 200px;
	-webkit-transition: background 1s;
    transition: background 1s;
	display: block;
}

#riteheader{
	background: url("img/rite.png") no-repeat;
}
#riteheader:hover{
	background: url("img/rite2.png") no-repeat;
}

#asterheader{
	background: url("img/aster.png") no-repeat;
}
#asterheader:hover{
	background: url("img/aster2.png") no-repeat;
}

#funkheader{
	background: url("img/funk.png") no-repeat;
}
#funkheader:hover{
	background: url("img/funk2.png") no-repeat;
}

#therite, #aster, #funk{
	display: block;
}

.bannerimg{
	margin-top: 10px;
}

.skills{
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}
.skills li{
	display: inline-block;
	margin: 2px;
	padding: 2px;
	border: 1px solid #994499;
	border-radius: 2px;
}

.projlink{
	display: inline;
	border-radius: 7px 7px 2px 2px;
}

.navlink{
	display: block;
	border-radius: 5px;
}

.projlink, .navlink{
	margin: auto;
	text-align: center;
	background-color: #fff;
	margin: 5px 0;
	padding: 0;
	border: 5px solid #fff;
}

.divider{
	width: 100%;
	border-bottom: 2px solid #994499;
}

.twitter{
	margin-top: 10px;
}
.devpics1{
	float: right;
	margin: 10px;
	margin-right: 0px;
}
.devpics2{
	float: left;
	margin: 10px;
	margin-left: 0px;
}

@media(max-width:800px){
	.container {
		display: block;
	}
	.devpics{
		float: none;
		margin: auto;
	}
	aside{
		border-right: 0;
		border-bottom: 2px solid #994499;
	}
	#riteheader{
		background: url("img/rite2.png") no-repeat;
		background-size: contain;
		background-position: center;
	}
	#asterheader{
		background: url("img/aster2.png") no-repeat;
		background-size: contain;
		background-position: center;
	}
	#funkheader{
		background: url("img/funk2.png") no-repeat;
		background-size: contain;
		background-position: center;
	}
	.twitter{
		display: none;
	}
}

@media(max-width:600px){
	.container figure{
		float: none;
	}
	.projlink{
		display: block;
		border-radius: 5px;
	}
	.projheader{
		height: 100px;
	}
}

@media(max-width:480px){
	article, aside{
		padding: 0;
	}
	.bannerimg,.devpics{
		width: 100%;
	}
	.projheader{
		height: 50px;
	}
}